h3 {
    color: mediumvioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

h2 {
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


p {
	color: blue;
	font-family: "helvetica";
	font-size: 14px;
}

img{
	width: 100;
}